body{
    background-color: rgba(0, 0, 0, 0.544);
}

h1{
    margin-left: 20%;
    margin-right: 26%;
    font-size: 50px;
    background-color: whitesmoke;
    color: rgb(7, 28, 54);
    stroke: rgb(20, 153, 248);
}
h2{
    margin-left: 40%;
    margin-right: 28%;
    margin-top: 10px;
    font-size: 20px;
    background-color: rgb(165, 159, 42);
}

img{
    position: relative;
    margin-left: 75%;
    margin-top: 0px;
    vertical-align: baseline;
    width: 320px;
}

button{
    width: 200px;
    height: 30px;
    margin-top: 100px;
    margin-left: 500px;
    color: blue;
    stroke: black;
    stroke-width: 200px;
    
}
